/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12/04/2024, 2:19:30 p. m.
    Author     : alexa
*/


  
  .container {
    display: flex;
   justify-content: center;
   flex-direction: column;

    
   
   
  }
  
  table{
    width: 80%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .edit-btn, .delete-btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .edit-btn {
    background-color: #8FBDBB;
    color: white;
  }
  
  .delete-btn {
    background-color: #f44336;
    color: white;
  } 
  
  .edit-btn:hover, .delete-btn:hover {
    opacity: 0.8;
  }
  








  .container {
    display: flex;
    width: calc(100% - 250px);
    margin-left: 250px; 
    padding: 20px;
  }
  
  .menu {
    width: 250px;
    height: 100%;
    background-color: #DA7A86;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    margin-top: 4.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .opciones {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  .opciones li {
    margin-bottom: 10px;
  }
  
  .opciones li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s, border 0.3s;
    border-radius: 5px;
    border: 2px solid transparent;
  }
  
  .opciones li a:hover {
    background-color: #3b3dd6;
    border-color: #fff;
    box-sizing: border-box;
  }
  
  .perfil {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .perfil img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: transform 0.3s;
  }
  
  .perfil img:hover {
    transform: scale(1.1);
  }
  
  .perfil:after {
    content: '';
    display: block;
    width: 80%;
    margin: 0 auto;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
  }
  




  /* buscador */
  .buscadorDos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
  }
  
  .buscadorDos input[type="text"] {
    width: 45%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .buscadorDos button {
    background-color: #8FBDBB;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buscadorDos button:hover {
    background-color: #8FBDBB;
  }
  

  





  .agregar-producto button{
    margin-top: 3rem;
    padding: 1rem;
    width: 80%;
    border-radius: 2rem;
    
  }
  .agregar-producto button:hover{

    background-color: #e4e4e4;
  }
 
#formularioAgregarProducto {
    display: none; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    width: 80%;
  }
  
  /* Estilos para los elementos del formulario */
  #formularioAgregarProducto input[type="text"],
  #formularioAgregarProducto input[type="number"],
  #formularioAgregarProducto select {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #formularioAgregarProducto input[type="file"] {
    margin-bottom: 10px; 
  }
  
  #formularioAgregarProducto button[type="submit"] {
    background-color: #8FBDBB; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
  }
  
  #formularioAgregarProducto button[type="submit"]:hover {
    background-color: #8FBDBB; 
  }
  
.centrarContInven{
    margin-left: 15rem;
    
}
